
body
 {
background-color:#162c41;
 }
 h1
 {
 	text-align: center;
    color:#d6c9e2;
    margin-left: 100px;
    font-family: Broadway;
 }
 p
 {
   text-align: center;
    color:#d6c9e2;
    margin-left: 70px;
    font-family: Broadway;
 }
h2
{
	text-align: center;
    color:#d6c9e2;
    margin-left: 70px;
    font-family: Broadway;
}
ul
{
	text-align: center;
    color:#ffffff;
    margin-left: 70px;
    font-family: Broadway;
}